<!-- Config file for the game -->

<config>
  <app>
    <framerate_cap value="30"></framerate_cap>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>
  
  <player>
    <position x="0" y="930" />
    <limits up="47" down="347" left="5" right="5370" />
    <speed_x value="7" />
    <maxSpeed_y value="10"/>
    <player_size width="25" height="67" />
    <jump_force value="20" />
    <camera x="0" y="-347"/>
    <player_limit up="50" down="1060" left="8" right="6350"/>
    <player_dead_limit up="-50" down="1160"/>
    <godmode_hitbox value="56"/>
    <lifes value="3"/>
  </player>
</config>